<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista ConcorsiEsterni</title>
    <!-- Link a Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .main {
            margin-top: 100px !important;
        }
        .bold {
            font-weight: bold !important;
        }
        .button-elimina {
            margin-left: 500px !important;
            margin-top: 0px !important;
        }
        .select-concorso {
            top: 50%;
            width: 400px;
            margin-bottom: 50px;
        }
        .secondary-toolbar {
            margin-top: 10px;
            border-top: 1px solid #ddd;
            padding-top: 10px;
        }
        .secondary-toolbar a {
            margin-right: 15px;
            color: #007bff;
        }
        .secondary-toolbar a:hover {
            text-decoration: underline;
        }
        .card {
            margin-top: 15px !important;
            width:90% !important; /* Imposta la larghezza fissa desiderata */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombreggiatura leggera */
            transition: box-shadow 0.3s ease-in-out; /* Transizione per un effetto più fluido */
        }
        
        /* Centra le card */
        #cardContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px !important;
        }
        .cardCont{
            margin-bottom: 200px !important;
        }
    </style>
</head>
<body>
    <%- include('toolbar', { livelloUser: livelloUser }) %>
    
    <%- include('footer') %>
    <script type="module" src="/js/concorsiEsterni.js" apiUserURL="<%= apiUserURL %>"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Link a Bootstrap JS (richiesto per il funzionamento di Bootstrap) -->
</body>
</html>